@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 10px;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: black;
}

header {
  width: 100%;
  height: 650px;
  background: url(../img/ckbg.jpg) center no-repeat, linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5));
  background-size: cover;
}

.container {
  min-width: 98%;
  width: 40%;
  margin: 0 auto;
}

nav {
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-size: 17px;
}

.logo {
  font-size: 65px;
  font-weight: 300;
  transform: translateX(-100rem);
  animation: slideIn 0.5s forwards;
}

.logo span {
  color: #e91963;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
  transform: translateX(100rem);
  animation: slideIn 0.5s forwards;
}

nav ul li:nth-child(1) {
  animation-delay: 0s;
}

nav ul li:nth-child(2) {
  animation-delay: 0.5s;
}

nav ul li:nth-child(3) {
  animation-delay: 1s;
}

nav ul li:nth-child(4) {
  animation-delay: 1.5s;
}

nav ul li a {
  padding: 1rem 0;
  margin: 0 3rem;
  position: relative;
  letter-spacing: 2px;
}

nav ul li a:last-child {
  margin-right: 0;
}

nav ul li a::before,
nav ul li a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #e91963;
  left: 0;
  transform: scaleX(0);
  transition: all 0.5s;
}

nav ul li a::before {
  top: 0;
  transform-origin: left;
}

nav ul li a::after {
  bottom: 0;
  transform-origin: right;
}

nav ul li a:hover::before,
nav ul li a:hover::after {
  transform: scaleX(1);
}

@keyframes slideIn {
  to {
    transform: translateX(0);
  }
}

.menu-btn {
  position: absolute;
  top: 65px;
  right: 10px;
  width: 40px;
  cursor: pointer;
  display: none;
}

section {
  width: 95%;
  margin: 40px auto;
}

h2 {
  margin-left: 390px;
  text-align: center;
  font-size: 4vmin;
  color: black;
  transform: translateX(-100rem);
  animation: slideIn 0.2s forwards;
}

h2 {
  display: flex;
  transform: translateX(100rem);
  animation: slideIn 0.2s forwards;
  padding: 1rem 0;
  margin: 0 1rem;
  position: relative;
  letter-spacing: 2px;
}

h2:nth-child(1) {
  animation-delay: 0s;
}

h2:nth-child(2) {
  animation-delay: 0.5s;
}

h2:nth-child(3) {
  animation-delay: 1s;
}

h2:nth-child(4) {
  animation-delay: 1.5s;
}

h2:last-child {
  margin-right: 0;
}

h2::before,
h2::after {
  content: "";
  position: absolute;
  width: 43%;
  height: 2px;
  background-color: #e91963;
  left: 0;
  transform: scaleX(0);
  transition: all 0.5s;
}

h2::before {
  top: 0;
  transform-origin: left;
}

h2::after {
  bottom: 0;
  transform-origin: right;
}

h2:hover::before,
h2:hover::after {
  transform: scaleX(1);
}

@keyframes slideIn {
  to {
    transform: translateX(0);
  }
}

@media only screen and (max-width: 729px) {
  .titulo {
    font-size: 30px;
  }

  .menu-btn {
    display: block;
    height: 60px;
    width: 50px;
    top: 45px;
    right: 0;
  }

  .navbar {
    padding: 0;
  }

  .logo {
    position: absolute;
    top: 35px;
    left: 20px;
    font-size: 55px;
  }

  .nav-links {
    font-size: 20px;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
    background-color: rgba(227, 177, 206, 0.664);
    background-size: cover;
    margin-top: -900px;
    transition: all 0.5s ease;
    text-decoration: none;
  }

  .mobile-menu {
    margin-top: 0;
    border-bottom-right-radius: 30%;
  }

  .nav-links li {
    margin: 30px auto;
  }
}

h2 {
  font-weight: 300;
  font-size: 50px;
}

h2 span {
  color: #e91963;
}

.container-grid {
  height: 900px;
  width: 100%;
  display: grid;
  gap: 10px;
}

.item {
  height: 100%;
  width: 100%;
  border-radius: 5%;
}

.item1 {
  background-image: url(../img/macaroonvertical.jpeg);
  background-size: cover;
  justify-content: center;
  align-items: center;
}

.item2 {
  background-image: url(../img/saladcake.jpeg);
  background-size: cover;
  justify-content: center;
  align-items: center;
}

.item3 {
  background-image: url(../img/cake2.jpeg);
  background-size: cover;
  justify-content: center;
  align-items: center;
}

.item4 {
  background-image: url(../img/cupcakeanimales.jpeg);
  background-size: cover;
  justify-content: center;
  align-items: center;
}

.item5 {
  background-image: url(../img/bf1.jpeg);
  background-size: cover;
  justify-content: center;
  align-items: center;
}

.item6 {
  background-image: url(../img/cake3.jpeg);
  background-size: cover;
  justify-content: center;
  align-items: center;
}

.item7 {
  background-image: url(../img/mcrviolet.jpeg);
  background-size: cover;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 360px) and (max-width: 779px) {
  .container-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 780px) {
  .item1 {
    grid-column: 1/2;
    grid-row: 1/5;
  }

  .item2 {
    grid-column: 2/3;
    grid-row: 1/4;
  }

  .item3 {
    grid-column: 3/4;
    grid-row: 1/3;
  }

  .item4 {
    grid-column: 2/3;
    grid-row: 4/7;
  }

  .item5 {
    grid-column: 3/4;
    grid-row: 3/5;
  }

  .item6 {
    grid-column: 3/4;
    grid-row: 5/7;
  }

  .item7 {
    grid-column: 1/2;
    grid-row: 5/7;
  }
}
// about me-------------

h2 .yo{
    text-align: center;
    color: #e91963;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
    font-weight: 300;
    span{
        color: black;
        text-transform: uppercase;
    }
}
.yo::before,
.yo::after {
  content: "";
  position: absolute;
  width: 18%;
  height: 2px;
  left: 0;
  transform: scaleX(0);
  transition: all 0.5s;
}
.about .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-image: url(../img/marble-gda94c08e5_1920.jpg);
    border-radius: 3px;
    .image{
        flex: 1 1 30px;
    }
    img{
        width: 100%;
        padding: 5px;
    }
    .content{
        flex: 1 1 45rem;
        padding: 2rem;
        align-items: flex-start;
    }
    .content h3{
        font-size: 22px;
        color: black;
    }
    .content p{
        font-size: 17px;
        color: black;
        padding: 2rem 0;
        line-height: 1.8;
    }
    .btn{
        display: inline-block;
        padding: .9rem 3rem;
        font-size: 17px;
        color: #e91963;
        background-color: lightslategray;
        border-radius: 5%;
        cursor: pointer;
    }
    .content a:hover{
        color: black;
    }

}

.slogan-page {
  display: flex;
  font-size: 50px;
  font-weight: 300;
  text-align: center;
  justify-content: center;
}

.manga {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  transform: uppercase;
  animation-duration: 1s;
  animation-name: aparecer;
  animation-delay: 5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
}

.img-manga {
  height: 100px;
  width: 100px;
  margin-top: 60px;
  transform: uppercase;
  animation-name: aparecer;
  align-content: center;
  animation-duration: infinite;
  animation-delay: 0.5s;
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.tittle-suscribe {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  color: #e91963;
}

.suscribe {
  display: grid;
  align-items: center;
  justify-content: center;
}

input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
}

.footer-container {
  max-width: 1170px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

footer ul {
  list-style: none;
}

.footer {
  background-color: rgba(227, 177, 206, 0.664);
  padding: 70px 0;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: black;
  text-transform: capitalize;
  margin-bottom: 30px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91963;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li::not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: black;
  text-decoration: none;
  font-weight: 400;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #e91963;
  padding-left: 10px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 48px;
  width: 48px;
  background-color: rgba(255, 255, 255, 0.459);
  margin-right: 5px;
  margin: 0px 5px 5px 0;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  color: black;
  transition: all 0.5s ease;
  font-size: 30px;
}

.footer-col .social-links a:hover {
  color: #e91963;
  background-color: #ffffff;
}

@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    padding: 30px;
  }
}

@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}

/* inicio sección contacto */
.header-cnt {
  width: 100%;
  height: 500px;
  background: url(../img/macaroonbg.jpg) center no-repeat, linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5));
  background-size: cover;
}

.contacto {
  display: flex;
  margin-left: 390px;
  text-align: center;
  justify-content: center;
  font-size: 60px;
  font-weight: 300;
  color: black;
  transform: translateX(-200rem);
  animation: slideIn 0.2s forwards;
  transform: translateX(200rem);
  animation: slideIn 0.2s forwards;
  padding: 2rem 0;
  margin: 0 37%;
  position: relative;
  letter-spacing: 2px;
}

.contacto:nth-child(1) {
  animation-delay: 0s;
}

.contacto:nth-child(2) {
  animation-delay: 0.5s;
}

.contacto:nth-child(3) {
  animation-delay: 1s;
}

.contacto:nth-child(4) {
  animation-delay: 1.5s;
}

.contacto:last-child {
  margin-right: 0;
}

.contacto::before,
.contacto::after {
  content: "";
  position: absolute;
  width: 97%;
  height: 2px;
  background-color: #e91963;
  left: 0;
  transform: scaleX(0);
  transition: all 0.5s;
}

.contacto::before {
  top: 0;
  transform-origin: left;
}

.contacto::after {
  bottom: 0;
  transform-origin: right;
}

.contacto:hover::before,
.contacto:hover::after {
  transform: scaleX(1);
}

@keyframes slideIn {
  to {
    transform: translateX(0);
  }
}

em {
  font-size: 20px;
  margin-left: 10px;
}

.wrapper h6 {
  margin-left: 10px;
  font-size: 16px;
}

.wrapper {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.line {
  width: 150px;
  height: 4px;
  background-color: #e91963;
  margin: 10px auto;
  border-radius: 5px;
}

@media only screen and (min-width: 360px) and (max-width: 779px) {
  .contacto {
    margin-left: 390px;
    text-align: center;
    font-size: 60px;
    font-weight: 300;
    color: black;
    transform: translateX(-200rem);
    animation: slideIn 0.2s forwards;
    display: flex;
    transform: translateX(200rem);
    animation: slideIn 0.2s forwards;
    padding: 2rem 0;
    margin: 0 40%;
    position: relative;
    letter-spacing: 2px;
  }

  .contacto:nth-child(1) {
    animation-delay: 0s;
  }

  .contacto:nth-child(2) {
    animation-delay: 0.5s;
  }

  .contacto:nth-child(3) {
    animation-delay: 1s;
  }

  .contacto:nth-child(4) {
    animation-delay: 1.5s;
  }

  .contacto:last-child {
    margin-right: 0;
  }

  .contacto::before,
  .contacto::after {
    content: "";
    position: absolute;
    width: 97%;
    height: 2px;
    background-color: #e91963;
    left: 0;
    transform: scaleX(0);
    transition: all 0.5s;
  }

  .contacto::before {
    top: 0;
    transform-origin: left;
  }

  .contacto::after {
    bottom: 0;
    transform-origin: right;
  }

  .contacto:hover::before,
  .contacto:hover::after {
    transform: scaleX(1);
  }

  @keyframes slideIn {
    to {
      transform: translateX(0);
    }
  }

  em {
    font-size: 20px;
    margin-left: 10px;
  }

  .wrapper h6 {
    margin-left: 10px;
    font-size: 16px;
  }

  .wrapper {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
// fin seccion contacto

// inicio seccion servicios
